:root {
    --bg-linear-gradient: linear-gradient(#cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a0c4ff);
    --color-text: #333;
    --font-family: 'Tahoma', 'Arial', sans-serif, 'Helvetica', 'Verdana';
    --bg-color-alfa: #c3c2c23a;
    --bg-color-dark: #222;
    --bg-color-light: #f1f1f1a0;
    --text-color-dark: #b5b5b5;
    --shadow-color: #00000010;
    --bg-color-light: #eee;
    --bg-footer: #363535b0;
}

.container{
    font-family:  var(--font-family);
    background: var(--bg-linear-gradient);
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    
}

.container-main{
    width: 100%;
    height: 95vh;
    
    display: flex;
    flex-direction: row;
}

.header{
    width: 30%;
    max-width: 150px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-color-alfa);
    box-shadow: 10px 0 20px 0 var(--shadow-color);
}

.header-profile{
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-img{
    width: 60%;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.header-title{
    font-size: .8rem;
    text-align: center;
}

.header-subtitle{
    font-size: .75rem;
    text-align: center;
    margin: 0;
}

.header-nav{
    width: 100%;
    height: 60vh;
}

.ul-header{
    width: 100%;
    height: 50vh;
    margin: 0;
    padding-left: .5rem;
    list-style: none;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list-items{
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    padding-left: .5rem;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.link{
    text-decoration: none;
    margin-left: 5px;
    color: var(--color-text);
}

.list-items:hover{
    background-color: var(--shadow-color);
    border-radius: 50px 0 0 50px;
}

.ul-header-dark{
    width: 100%;
    height: 10vh;
    margin: 0;
    padding-left: .5rem;
    list-style: none;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.link-dark{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: var(--bg-color-light);
    padding: 5px 10px;
    border-radius: 50%;
}

.main{
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section{
    width: 95%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--shadow-color);
    background-color: var(--bg-color-alfa);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.section-title {
    line-height: 2rem;
    text-align: center;
    font-size: .75rem;
}

.section-about{
    width: 100%;
    height: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.about{
    width: 100%;
    height: auto;
    font-size: .8rem;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.about-head{
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.about-head h3{
    margin: 0;
    color: var(--color-text);
}

.about-body{
    height: auto;
    font-size: .8rem;
    text-align: justify;
    line-height: 1.5rem;
    margin-left: 20px;
}

.section-card{
    width: 100%;
    height: auto;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 90%;
    max-width:250px;
    height: 300px;
    background-color: var(--bg-color-light);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 0 0 10px var(--shadow-color);
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.card-head{
    margin-bottom: 10px;
}

.card-img{
    width: 100%;
    height: 130px;

    border-radius: 8px 8px 0 0;
}

.card-body{
    width: 100%;
    height: 150px;
    padding: 4px;

    display: flex;
    flex-direction: column;
}

.card-title, .card-text{
    font-size: .8rem;
    margin-bottom: 10px;
}

.card-footer{
    width: 100%;
    height: 50px;
    padding: 4px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-skills{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.frontend, .backend, .fullstack{
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;

    display: flex;
    flex-direction: column;
}

.name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skill{
    width: 100%;
    height: auto;
    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skill-name{
    font-size: .8rem;
    text-align: center;
    margin-right: 10px;
    margin-bottom: .5rem;
    padding: 5px 10px;
    border-radius: 5px;
}

h3{
    color: var(--bg-color-light);
}

.js h3{
    color: var(--color-text);
}

.html{
    background-color: #e34c26;
}

.css{
    background-color: #264de4;
}

.js{
    background-color: #f0db4f;
}

.php{
    background-color: #4f5b93;
}

.sql{
    background-color: #00758f;
}

.git{
    background-color: #f05032;
}

.section-contact{
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact{
    width: 50%;
    max-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list{
    width: 30%;
    line-height: 3rem;
    list-style: none;

    display: flex;
    flex-direction: column;
}

.contact-item{
    width: 100%;
    font-size: .8rem;

    display: flex;
    align-items: center;
}

.bi-github, .bi-linkedin, .bi-envelope-fill, .bi-whatsapp, .bi-instagram, .bi-telegram{
    font-size: 1.5rem;
}

.footer{
    width: 100%;
    height: 5vh;
    font-size: .7rem;
    background-color: var(--bg-footer);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    margin: 0;
    color: var(--bg-color-light);
}

@media (max-width: 750px) {
    .container-main {
        gap: 1rem;
    }

    .header {
        width: 50%;
        height: auto;
    }

    .header-img {
        width: 70%;
        height: 80px;
    }

    .list-items {
        font-size: .7rem;
    }

    .section-contact {
        flex-direction: column;
    }
}

/* Modo oscuro */

.dark-mode{
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}

.dark-mode .container{
    background: linear-gradient(#333, #444, #555, #666, #777);
}

.dark-mode .header-title,
.dark-mode .header-subtitle,
.dark-mode .link,
.dark-mode .section-title,
.dark-mode h3,
.dark-mode .about-body p{
    color: var(--bg-color-light);
}

.dark-mode .js h3{
    color: var(--color-text);
}
